body {
  background-color: rgb(63, 43, 43);
}
#single-breed {
  color: aliceblue;
  /* display: inline; */
  max-width: 100%;
  /* height: 100%; */
  padding: 5%;
  align-self: center;
}
/* .text-container {
  float: left;
} */
/* .image-container {
  float: right;
} */

.main-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: flex-start; */
  justify-content: flex-start;
  /* flex-basis: auto; */
}
.flex-container {
  /* flex: 1 auto; */
  width: fit-content;
}

.image-container {
  max-width: 100%;
  padding: 5%;
}
