#loading-image {
  justify-content: center;
}

.spinner {
  display: flex;
  justify-content: center;
}

#image-click {
  cursor: pointer;
}

#image {
  height: 480px;
  width: 480px;
  object-fit: scale-down;
}
